<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>

  <body>
    <h1>Create new Article</h1>
    <form action="" method="POST">
      <label for="title">Title</label><br /><br />
      <input name="title" type="text" required /><br />
      <label for="content">Content</label><br />
      <textarea name="content" type="textarea" required></textarea><br />
      <button>Create article</button>
    </form>
  </body>
</html>
